<nav class="navbar sticky-top bg-dark d-flex justify-content-center text-white">
    <h1>Wardogs Artilharia</h1>
</nav>
<div class="container py-5">
    <div class="d-flex flex-column gap-2">
        <div class="row g-2">
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <span class="card-title fw-bold">Origem (x, y)</span>
                        </div>
                        <hr>
                        <div class="row g-2">
                            <div class="col form-group">
                                <input class="form-control" id="x1" [(ngModel)]="x1" appMascaraDecimal
                                    inputmode="numeric">
                            </div>
                            <div class="col form-group">
                                <input class="form-control" id="y1" [(ngModel)]="y1" appMascaraDecimal
                                    inputmode="numeric">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex gap-2">
                        <button class="btn btn-warning ms-auto" (click)="x1=0;y1=0">Limpar</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card" [class]="!isNovo(alvo.id) ? 'border-2 border-primary' : ''">
                    <div class="card-body">
                        <div class="text-center">
                            <span class="card-title fw-bold cursor-pointer text-primary text-decoration-underline"
                                (click)="renomear(alvo)">{{alvo.nome}}</span>
                        </div>
                        <hr>
                        <div class="row g-2">
                            <div class="col form-group">
                                <input class="form-control" id="x2" [(ngModel)]="alvo.x" appMascaraDecimal
                                    inputmode="numeric">
                            </div>
                            <div class="col form-group">
                                <input class="form-control" id="y2" [(ngModel)]="alvo.y" appMascaraDecimal
                                    inputmode="numeric">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex gap-2">
                        <button class="btn btn-primary ms-auto" (click)="salvar()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="border-5">
        <h4>Alvos:</h4>
        <div class="row g-2">
            @for (_alvo of alvos; track $index) {
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card" [class]="_alvo.id == alvo.id ? 'border-2 border-primary' : ''">
                    <div class="card-body">
                        <div class="text-center">
                            <span class="card-title fw-bold">{{_alvo.nome}}</span>
                            <br>
                            @if (hasRange(_alvo)) {
                                <span class="small text-success">Dentro do alcance</span>
                            } @else {
                                <span class="small text-danger">Fora do alcance</span>
                            }
                            <hr>
                            <span>{{obterDistancia(_alvo)}}m - {{obterAngulo(_alvo)}}°</span>
                            <br>
                            <span>({{(_alvo.x / 100).toFixed(2)}}, {{(_alvo.y / 100).toFixed(2)}})</span>
                        </div>
                    </div>
                    <div class="card-footer d-flex gap-2">
                        <button class="btn btn-primary ms-auto" (click)="editar(_alvo)"
                            [disabled]="_alvo.id == alvo.id">Editar</button>
                        <button class="btn btn-danger" (click)="remover(_alvo.id)"
                            [disabled]="_alvo.id == alvo.id">Excluir</button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>